//color
$icon-color-default: #FFFFFF;
$icon-color: #585C64;
$link-active: #D34BA8;
$border-color: #CCCCCC;

//bgc
$bgc-theme: #FAFAF9;
$bgc-color: #FFFFFF;

//font size
$font-size-base: 12px;
$font-size-l: $font-size-base + 2;
$icon-font-size-base: 18px;
$icon-font-size-l: 24px;

//z-index
$navbar-z-index: 1000;
$tabbar-z-index: 1000;
$cart-z-index: 1100;
$backtop-z-index: 1100;
$search-z-index: 1200;
$category-z-index: 1200;

//size
$navbar-height: 50px;
$tabbar-height: 50px;
